.continueShopping {
  align-self: flex-end;

  color: white;

  font-size: 2.5rem;

  margin: 2rem 3%;
}
.continueShopping button {
  padding: 2rem 4rem;
}
.emptyBasket {
  width: 95%;

  color: rgb(255, 255, 255);

  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0.2rem;
  margin: auto;
}
.basketContentWrapper {
  width: 95%;
  margin: auto;
  border: 1px solid rgb(250, 235, 215);
}
.basketItemBox {
  display: flex;

  width: 90%;

  background-color: rgb(250, 235, 215);
  padding: 1rem;
  margin: 2rem 5rem;
  border: 1px solid rgb(250, 235, 215);
}
.imageWrapper {
  display: flex;
  flex-direction: column;

  background-color: rgb(250, 235, 215);
}
.imageWrapper img {
  display: inline-block;
  height: 130px;
  width: 160px;
}
.imageWrapper h6 {
  display: inline-block;

  font-size: 3rem;

  letter-spacing: 0.1rem;
}
.itemInfo {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: rgb(255, 255, 255);

  font-size: 3rem;
  letter-spacing: 0.3rem;

  margin: auto 1rem;
  border: 2px solid rgb(41, 10, 10);
  border-radius: 5px;
}
.itemSubTitle {
  background-color: rgb(255, 255, 255);

  font-size: 2.5rem;
  font-weight: bolder;
  font-style: italic;

  padding: 1rem;
}
.itemPrice {
  font-weight: bolder;
}
.itemButtonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.itemButtonWrapper button {
  font-size: 2rem;

  padding: 0.5rem;
  margin: 1rem;
}
.itemButtonWrapper button:hover,
.itemButtonWrapper button:focus {
  box-shadow: 3px 3px 5px rgb(0, 0, 0), -2px -2px 5px rgb(0, 0, 0);
}
.itemButtonWrapper button:active {
  box-shadow: 3px 3px 5px white, -2px -2px 5px white;
}
.totalPriceBox {
  align-self: flex-end;

  color: rgb(255, 255, 255);

  font-size: 3rem;
  letter-spacing: 0.15rem;
  margin: 2rem 5rem;
}
.orderButtonWrapper {
  display: flex;
  flex-direction: column;

  margin: 2rem 3%;
}
.orderButtonWrapper button {
  align-self: flex-end;

  padding: 2rem 4rem;
}
.placeholder {
  height: 100%;
  width: 100%;

  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;

  text-decoration: inherit;
}
