.sent {
  width: 50%;
  background-color: rgb(41, 10, 10);
  color: rgb(255, 255, 255);

  font-family: "Algreya", serif;
  font-size: 2.2rem;
  font-style: italic;
  letter-spacing: 0.15rem;
  text-decoration: none;

  padding: 1.5rem;
  margin: 1.5rem auto;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  outline: 1px solid rgb(41, 10, 10);
  outline-offset: 0.6rem;
}
