.App {
  background-color: rgb(41, 10, 10);
  font-family: "Algreya", serif;
}
h6 {
  font-family: "Tangerine", cursive;
}
p {
  color: rgb(0, 0, 0);
  font-size: 1.8rem;
}
a {
  height: 100%;
  width: 100%;

  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;

  text-decoration: inherit;
}
img {
  filter: contrast(110%) brightness(105%);
}
